<ul id="fulllist">
    <li>
        <span>Overgewicht</span>
        <div class="counter">95.642.642.123</div>
    </li>
    <li>
        <span>Hoge bloeddruk</span>
        <div class="counter">95.642.642.123</div>
    </li>
    <li>
        <span>Hoog cholesterol</span>
        <div class="counter">95.642.642.123</div>
    </li>
    <li>
        <span>Obesitas</span>
        <div class="counter">95.642.642.123</div>
    </li>
    <li>
        <span>Diabetes type II</span>
        <div class="counter">95.642.642.123</div>
    </li>
    <li>
        <span>Hart- en vaatziekten</span>
        <div class="counter">95.642.642.123</div>
    </li>
    <li>
        <span>Burnout</span>
        <div class="counter">95.642.642.123</div>
    </li>
    <li>
        <span>Pre-diabetes</span>
        <div class="counter">95.642.642.123</div>
    </li>
    <li>
        <span>Depressie</span>
        <div class="counter">95.642.642.123</div>
    </li>
    <li>
        <span>Kanker*</span>
        <div class="counter">95.642.642.123</div>
    </li>
</ul>