<div class="container grid bigpiechart">
    <canvas id="piechart" width="300" height="300"></canvas>
    <div class="aligner">
        <div id="piechartlegend">
            <ul class="legend">
                <li>Geen chronische ziekten</li>
                <li>1 chronische ziekte</li>
                <li>2 chronische ziekten</li>
                <li>3 of meer chronische ziekten</li>
            </ul>
        </div>
    </div>
</div>