<div class="container grid piechartdouble">
    {{> headline headline="Onderdelen zorgkosten - preventie versus nazorg" }}
    {{> headline headline="Oorzaak welvaartsziekten - erfelijkheid vs. leefstijl" }}
</div>
<div class="container grid piechartdouble">
    <div class="piechart-column">
        <canvas id="smallpiechart0" width="150" height="150"></canvas>
        <div class="piechartlegend">
            <ul class="legend">
                <li>Nazorg</li>
                <li>Preventie</li>
            </ul>
        </div>
    </div>
    <div class="piechart-column">
        <canvas id="smallpiechart1" width="150" height="150"></canvas>
        <div class="piechartlegend">
            <ul class="legend">
                <li>Leefstijl</li>
                <li>Erfelijkheid</li>
            </ul>
        </div>
    </div>
</div>