<div class="container grid bigpiechart">
    <canvas id="piechart" width="300" height="300"></canvas>
    <div class="aligner">
        <div id="piechartlegend">
            <ul class="legend">
                <li> 1 Welvaartsziekte</li>
                <li> 2 Welvaartsziekte</li>
                <li> Geen Welvaartsziekte</li>
            </ul>
        </div>
    </div>
</div>