<div class="text">De meeste Nederlanders sterven op dit moment aan "welvaartsziekten" en uit onderzoek blijkt dat 95% te wijten is aan leefstijl. Aan preventie doen we ook vrijwel niets, slechts 4$% van de zorgkosten gaan daar naartoe.</div>
<div class="text">Warom doen we in vredesnaam nog zo weinig met gezonde leefstijl en dan bij voorkeur preventief?</div>