<div class="container">
    <div class="counter bigcounter">
        <span>
            <span class="increaseOverTime">{{ count }}</span>
            <div class="livenow">LIVE NOW</div>
        </span>
    </div>
</div>