<div class="container grid smallcounter">
    <h3>{{ name }}:</h3>
    <div class="countercontainer">
        <span>
            <span class="counter increaseOverTime">{{ count }}</span>
            <div class="livenow">LIVE NOW</div>
        </span>
    </div>
</div>