<div class="container">
    <div class="bigcounter countercontainer">
        <span>
            <span class="increaseOverTime counter">{{ count }}</span>
            <div class="livenow">LIVE NOW</div>
        </span>
    </div>
</div>