<div class="container grid smallcounter">
    <h3>{{ name }}:</h3>
    <div class="countercontainer">
        <div>
            <div data-increase="{{ increase }}" class="counter increaseOverTime">{{ count }}</div>
            <div class="livenow">LIVE NOW</div>
        </div>
    </div>
</div>