<div class="container">
    <div class="bigcounter countercontainer">
        <span>
            <span class="counter">€<span class="increaseOverTime">{{ count }}</span></span>
            <div class="livenow">LIVE NOW</div>
        </span>
    </div>
</div>