<h1 class="title">De welvaartsziekte</h1>
<h1 class="title">- meter -</h1>
<div class="text">De meeste Nederlanders sterven op dit moment aan "welvaartsziekten"</div>
<div class="text">Hieronder vind je een overzicht van de schokkende aantallen per welvaartsziekten en waarom we wél steeds ouder worden, maar
        ook steeds eerder ziek.</div>
<div class="text">Voor de volledigheid: Nederland telt op dit moment 17 miljoen inwoners.</div>