<footer>
    <span>www.happyhealthy.nl</span>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/main.min.js"></script>
</body>
</html>