<div id="piechart" class="container grid">
    <div id="pie"></div>
    <ul>
        <li>1 Welvaartsziekte</li>
        <li>2 Welvaartsziekte</li>
        <li>Geen Welvaartsziekte</li>
    </ul>
</div>