{{> header }}

<div id="main" class="container">
    {{> text_entry }} 
    
    {{> headline 
        headline="Nederlandse zorgkosten tot nu toe dit jaar"
    }} 
    
    {{> counter_big 
        count=counter1 increase=increaseCounterBy_1
    }} 
    
    {{> headline 
        headline="Totaal aantal Nederlanders met welvaartsziekte(n)"
    }} 
    
    <div class="container">
        <div class="sidenote">
           Van de 17 miljoen Nederlanders
        </div>
    </div>
    
    {{> counter_small 
        name="Diabetes" 
        count=counter2 increase=increaseCounterBy_2
    }} 
    
    {{> counter_small 
        name="Kanker" 
        count=counter3 increase=increaseCounterBy_3
    }}
    
    {{> chart_pie_big }}
    
    {{> headline 
        headline="Totaal aantal Nederlanders met welvaartsziekte(n)" 
    }}
    
    {{> chart_list}}
    
    {{> headline 
        headline="Nederlanders worden ouder maar óók steeds sneller ziek" 
    }}

    <div class="container grid linechartcontainer">
    {{> chart_line}}
    </div>

    {{> headline 
        headline="Nederlanders die doodgaan aan welvaartsziekten" 
    }}
    
    <div class="container grid triplecounter">
        {{> counter_triple
        name="Vandaag" 
        count=counter4 increase=increaseCounterBy_4}}
        {{> counter_triple
        name="Deze week" 
        count=counter5 increase=increaseCounterBy_5}}
        {{> counter_triple
        name="Deze Maand" 
        count=counter6 increase=increaseCounterBy_6}}
    </div>

    {{> text_counter_triple}}
    
    {{> chart_pie_small }}

    {{> headline 
        headline="Conclusie en vraag" 
    }}
    
    {{> text_closing }} 
</div>

{{> footer }}