{{> header }}

<div id="main" class="container">
    {{> entrytext }} 
    {{> bigcounter count=zorgkostenDitJaar }} 
    {{> headline headline="Totaal aantal Nederlanders met welvaartsziekte(n)"}} 
    {{> smallcounter name="Diabetes" count="123456789"}} 
    {{> smallcounter name="Kanker" count="987654321"}}
    {{> piechart }}
    {{> headline headline="Totaal aantal Nederlanders met welvaartsziekte(n)" }}
</div>

{{> footer }}