.linechart {
    max-width: 200px;
    max-height: 200px;
}

#piechart {
    max-width: 200px;
    max-height: 200px;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

#fulllist {
    margin-top: 40px;
}

#fulllist>li {
    font-size: 24px;
    color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px dashed grey;
}

#fulllist>li:last-child {
    border-bottom: 1px dashed grey;
}

/*
.linechartlegend {
    margin: 0px 0px 0px 20px;
    border-radius: 5px;
    border: solid 2px black;
}
*/

/* Bolletjes voor legenda van Big_Piechart */

#piechartlegend>ul>li::before {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    content: '';
}

#piechartlegend>ul>li:nth-child(1)::before {
    background-color: rgb(255, 99, 132);
}

#piechartlegend>ul>li:nth-child(2)::before {
    background-color: rgb(54, 162, 235);
}

#piechartlegend>.legend>li:nth-child(3)::before {
    background-color: rgb(255, 205, 86);
}


/* Bolletjes voor legenda van linecharts */

.linechartlegend>ul>li::before {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-right: 20px;
    content: '';
}


#linechart1legend>ul>li:nth-child(1)::before {
    background-color: rgb(54, 162, 235);
}

#linechart1legend>ul>li:nth-child(2)::before {
    background-color: rgb(255, 99, 132);
}

#linechart2legend>ul>li:nth-child(1)::before {
    background-color: rgb(54, 162, 235);
}

#linechart2legend>ul>li:nth-child(2)::before {
    background-color: rgb(255, 99, 132);
}



.linechartlegend>ul>li {
    height: 50%;
    margin-left: 15px;
}

.linechartlegend>ul>li:nth-child(1) {
    margin-bottom: 5px;
    //border-bottom: 1px dashed grey;
}

@media screen and (min-width: $breakpoint-tablet) {
    .linechart {
        max-width: 350px;
        max-height: 350px;
    }
}

@media screen and (min-width: $breakpoint-laptop) {
    .linechart {
        max-width: 350px;
        max-height: 350px;
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    #piechart {
        max-width: 500px;
        max-height: 500px;
    }
    .linechart {
        max-width: 500px;
        max-height: 500px;
    }
}