@import 'reset'; // Comment to not reset css
@import 'variables';
@import 'mixins';
@import 'typography';
@import 'buttons';
@import 'animations';
body {
    margin: 0;
}

header {
    background-color: #DD2526;
    height: 76px;
}

header img {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 300px;
}

#main {
    padding-left: 32px;
    padding-right: 32px;
}

.container {
    position: relative;
    padding: 20px 0px 20px 0px;
}

.grid {
    display: grid;
}

.bigcounter {
    grid-template-columns: 3fr 5fr;
}

.beforelist {
    margin-top: 40px;
    margin-bottom: 0px
}

.livenow {
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    border-color: red;
    color: red;
    font-size: 16px;
    position: absolute;
    bottom: 0%;
    right: 0%;
    text-align: center;
    padding: 2px 2px 2px 2px;
    max-width: 100px;
}

#piechart{
    max-width: 500px;
}

#fulllist {
    margin-top: 40px;
}

#fulllist>li {
    font-size: 24px;
    color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px dashed grey;
}

#fulllist>li:last-child {
    border-bottom: 1px dashed grey;
}

footer {
    background-color: #AFDB45;
    text-align: center;
    height: 56px;
    line-height: 56px;
    font-size: 24px;
    letter-spacing: 3px;
    color: white;
    margin: 10px 0px 10px 0px;
}